<!DOCTYPE html>
<head>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Sam Hollenbach</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
	<script type="text/javascript">
        var data = {{ data|tojson }};
        setStartPage(data.startPage);
    </script>

<body>

<div class="main-container">


	<div class="nav-links" style="opacity: 0">
		<a href="javascript:void(0)" name="profile">About Me</a>
		<a href="javascript:void(0)" name="experience">Experience</a>
		<a href="javascript:void(0)" name="projects">Projects</a>
		<a href="javascript:void(0)" name="education">Education</a>
	</div> 

	<div class="main-body">
		<div id="profile-block" class="page-cont" style="opacity: 0">
			<div id="img-cont">
				<img id="prof-img" src="{{ url_for('static',filename='images/shollenb.png') }}">
			</div>
			<div class="bio">
				<h1 id="name">Sam Hollenbach</h1>
				<h2>Student / Software Developer</h2>
				<p>I started programming in 2010 at age 13, making mods for the video game “Minecraft”. This is what first got me into programming and since then I never looked back. Lately I have been writing extensively in Python, and am working on a full stack mobile application and website for my baseball team. I have completed coursework in database management, internet computing, and artificial intelligence, and have used these concepts in my independent work.</p>	
			</div>

			<div class="img-links">
				<a  href="https://athletics.macalester.edu/roster.aspx?rp_id=10426">Macalester College Varisty Baseball Headshot</a>
			</div>

			<div class="bio2">
			<p> Most importantly, after nearly 9 years of programming I pick up new theories and languages much more quickly than I did even a few years ago. I am currently teaching myself C++ and Rust, along with learning new web frameworks to support more versatile web development. Check out the <em>Projects</em> and <em>Experience</em> tabs to see examples of my past work.</p>
			</div>
		</div>

		
		

		<div id="experience-block" class="page-cont" style="display: none;">
			<div class="experience">
				<h1>Experience</h1>
				<h2></h2>
				<p></p></div>
		</div>


		<div id="education-block" class="page-cont" style="display: none;">
			<div class="education">
				<h1>Education</h1>
				<h2></h2>
				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p></div>
		</div>

		<div id="projects-block" class="page-cont" style="display: none;">
			<div class="projects">
				<h1>My Projects</h1>
				<h2></h2>
				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p></div>
		</div>

	</div>


</div>



</body>