<!DOCTYPE html>
<head>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Sam Hollenbach</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/ems6sbh.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100" rel="stylesheet">


	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
	<script type="text/javascript">
        var data = {{ data|tojson }};
        setStartPage(data.startPage);
    </script>

<body>

<!-- <div id="bg"></div> -->


<div class="main-container">


	<div class="nav-links" style="opacity: 0">

		<div class="flex">
			<a href="javascript:void(0)" name="profile">About Me</a>
			<a href="javascript:void(0)" name="experience">Experience</a>
			<a href="javascript:void(0)" name="projects">Projects</a>
			<a href="javascript:void(0)" name="contact">Contact</a>
		</div>
	</div> 

	<div class="main-body">
		<div id="profile-block" class="page-cont" style="opacity: 0">
			
			<h1 id="name">Sam Hollenbach</h1>
			<h2 id="role">Student / Software Developer</h2>
				<div id="img-cont">
				<img id="prof-img" src="{{ url_for('static',filename='images/shollenb2.JPG') }}">
			</div>
			<div id="bio1" class="bio">
				<p>Here's some interesting things about me. I am a <em >Computer Science</em> and <em>Physics</em> double major at <a href="https://www.macalester.edu/">Macalester College</a>. I also play on the Macalester baseball team. I love going to live music, and listening to music in general. I like to travel and explore new areas. And I really like programming. </p> 

			</div>

			<h1>Video Games</h1>
			<p class="bio">
				 I started programming in 2010 at age 13, making mods for the video game "<a href="https://minecraft.net/en-us/">Minecraft</a>." Over the years I have made many video game add-ons or standalone games. While my passion for video games persists, I have also found love for many different domains of computer science.</p>
				
			<h1>Computer Science</h1>

			<div id="bio2" class="bio">

				<p class="bio"> I have decided to apply my background in quantitative science to software design and development. Lately, I have been writing extensively in Python, recently completing an NSF funded internship writing code to analyze long-term sunspot activity. Currently, I am independently working on a full stack mobile application and website for high school and college baseball teams, which is currently being beta tested by my NCAA Division III baseball team. Check out the <a href="javascript:showPage('projects')" name='projecXts'>Projects</a> and <a href="javascript:void(0)" name='experience'>Experience</a> tabs to see more.</p>	

			</div>

			

		</div>

		
		

		<div id="experience-block" class="page-cont" style="display: none;">
			<div class="experience">
				<h1>Experience</h1>
				<!-- <h2>Coming Soon</h2> -->


				<div class="sect">
					<h3 class="sect-role">Research Intern</h3>
					<h4 class="sect-date">Summer 2018</h4>
					<h4 class="sect-name"><a href="https://www.swri.org/">Southwest Research Institute</a></h4>
					<h4 class="sect-loc">Boulder, CO</h4>
					<p class="sect-blurb">In this NSF funded summer research position I worked on Python scripts for sunspot series reconstruction. I found new approaches to this problem by employing high level visualizations and tailored machine learning models.</p>
					<ul class="sect-link">
						<li><a href="http://github.com/samhollenbach/ADFSSN">GitHub Repository</a></li>
					</ul>
				</div>
				<div class="sect">
					<h3 class="sect-role">Software Intern</h3>
					<h4 class="sect-date">Summer 2016, 2017</h4>
					<h4 class="sect-name"><a href="https://www.ucsf.edu/">University of California San Fransisco</a></h4>
					<h4 class="sect-loc">San Fransisco, CA</h4>
					<p class="sect-blurb">While working in the UCSF Department of Neurology I wrote numerous scripts and utilities that analyzed bioinformatic data. I focused heavily on script optimization and parallel processing implementation.</p>
					<ul class="sect-link">
						<li><a href="http://github.com/samhollenbach/KIRVCF">GitHub Repository</a></li>
					</ul>
				</div>

			</div>
		</div>

		<div id="projects-block" class="page-cont" style="display: none;">
			<div class="projects">
				<h1>Projects</h1>

					<div class="sect">
						<h3 class="sect-role">Bullpen Tracker</h3>
						<h4 class="sect-date">Fall 2017 - Present</h4>
						<h4 class="sect-name">Independent Project</h4>
						<h4 class="sect-loc"></h4>
						<p class="sect-blurb">A native iOS app and web interface for recording and evaluating pitching data for amateur baseball teams.</p>
						<ul class="sect-link">
							<li><a href="http://bullepntracker.com">Website</a></li>
							<li><a href="https://github.com/samhollenbach/BullpenTrackerServer">Website GitHub Repository</a></li>
							<li><a href="https://github.com/samhollenbach/BullpenTracker">iOS app GitHub Repository</a></li>
						</ul>
					</div>

					<div class="sect">
						<h3 class="sect-role">Galaxy2</h3>
						<h4 class="sect-date">Spring 2015 - Fall 2016</h4>
						<h4 class="sect-name">Independent Research</h4>
						<h4 class="sect-loc"></h4>
						<p class="sect-blurb">Spiral galaxy N-body simulation and visualizer, written in Python. Created for an independent research project at Macalester College under the guidance of <a href="https://www.macalester.edu/~jcannon/">John Cannon</a></p>
						<ul class="sect-link">
							<li><a href="https://github.com/samhollenbach/Galaxy2">GitHub Repository</a></li>
							
						</ul>
					</div>

					

					<div class="sect">
						<h3 class="sect-role">3D Pong Game</h3>
						<h4 class="sect-date">Fall 2015</h4>
						<h4 class="sect-name">Independent Project</h4>
						<h4 class="sect-loc"></h4>
						<p class="sect-blurb">Standalone Java port of 3D Pong game.</p>
						<ul class="sect-link">
							<li><a href="https://github.com/samhollenbach/3DPong">GitHub Repository</a></li>
							
						</ul>
					</div>




				<h1>Extras</h1>

					<div class="sect">
						<h3 class="sect-role">This Website</h3>
						<h4 class="sect-date">December 2018</h4>
						<h4 class="sect-name">Independent Project</h4>
						<h4 class="sect-loc"></h4>
						<p class="sect-blurb">I also built this website! Check out the code for this website below to see how it works.</p>
						<ul class="sect-link">
							<li><a href="https://github.com/samhollenbach/shollenb">GitHub Repository</a></li>
							
						</ul>
					</div>
			</div>
		</div>


		<div id="contact-block" class="page-cont" style="display: none;">
			<div class="contact">
				<h1>Contact</h1>
				<h2>Coming Soon</h2>
				<p></p>
			</div>
		</div>

	</div>

	<div class="footer" style="opacity: 0">
		
		<div class="flex">
			<a href="https://www.linkedin.com/in/sam-hollenbach">LinkedIn</a>
			<a href="https://github.com/samhollenbach">GitHub</a>
			<a href="mailto:samhollenbach@gmail.com">Email</a>
			<a href="tel:1 (510) 504-7326">510.504.7326</a>
		</div>
	</div>



</div>



</body>