<!DOCTYPE html>
<head>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Sam Hollenbach</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/ems6sbh.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100" rel="stylesheet">


	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
	<script type="text/javascript">
        var data = {{ data|tojson }};
        setStartPage(data.startPage);
    </script>

<body>

<div class="main-container">


	<div class="nav-links" style="opacity: 0">
		<a href="javascript:void(0)" name="profile">About Me</a>
		<a href="javascript:void(0)" name="experience">Experience</a>
		<a href="javascript:void(0)" name="projects">Projects</a>
		<a href="javascript:void(0)" name="education">Education</a>
	</div> 

	<div class="main-body">
		<div id="profile-block" class="page-cont" style="opacity: 0">
			
			<h1 id="name">Sam Hollenbach</h1>
			<h2 id="role">Student / Software Developer</h2>
				<div id="img-cont">
				<img id="prof-img" src="{{ url_for('static',filename='images/shollenb2.JPG') }}">
			</div>
			<div id="bio1" class="bio">
				
				<p>As a <em >Computer Science</em> and <em>Physics</em> double major at <a href="https://www.macalester.edu/">Macalester College</a>, I have a deep background in quantitative science, which I have applied in t. I started programming in 2010 at age 13, making mods for the video game "<a href="https://minecraft.net/en-us/">Minecraft</a>", and while my passion for video games persists, I have found love for many areas of computer science. </p> 

			</div>
				
			

			<!-- <div class="img-links">
				<a  href="https://athletics.macalester.edu/roster.aspx?rp_id=10426">Macalester College Varisty Baseball Headshot</a>

				Most importantly, after nearly 9 years of programming I pick up new theories and languages quickly. I recently taught myself C++ and Rust, and am learning new web frameworks to support more versatile web development.
			</div> -->

			<div id="bio2" class="bio">
				<p>Lately I have been writing extensively in Python, recently completing an NSF funded internship writing code to analyze long-term sunspot activity. Currently, I am independently working on a full stack mobile application and website for high school and college baseball teams (currently being beta tested by my NCAA Division III baseball team).</p>	


				<!-- <p> Check out the <a href="javascript:showPage('projects')" name='projecXts'>Projects</a> and <a href="javascript:void(0)" name='experience'>Experience</a> tabs to see examples of my past work.</p> -->
			</div>
		</div>

		
		

		<div id="experience-block" class="page-cont" style="display: none;">
			<div class="experience">
				<h1>Experience</h1>
				<h2>Coming Soon</h2>
					
				<table>
					
					<!-- <tr class="experience-row-top">
						<th>Southwest Research Institute</th>
						<td>
					</tr>
					<tr class="experience-row-bot">
						<th>Southwest Research Institute</th>
						<td>
					</tr>
 -->




				</table>


			</div>
		</div>


		<div id="education-block" class="page-cont" style="display: none;">
			<div class="education">
				<h1>Education</h1>
				<h2>Coming Soon</h2>
				<p></p>
			</div>
		</div>

		<div id="projects-block" class="page-cont" style="display: none;">
			<div class="projects">
				<h1>My Projects</h1>
				<h2>Coming Soon</h2>
				<p></p>
			</div>
		</div>

	</div>

	<div class="footer" style="opacity: 0">
		
		<div class="flex">
		<a href="github.com/samhollenbach">GitHub</a>
		<a href="https://www.linkedin.com/in/sam-hollenbach">LinkedIn</a>
		<a href="email:samhollenbach@gmail.com">samhollenbach@gmail.com</a>

		<a href="">510.504.7326</a>
	</div>
	</div>



</div>



</body>